@import '../variables';

.bets-container {
    display: flex;
    width: 100%;
    // border: 1px solid red; //! temporary
}

h4 { text-align: center; }

.pending-bets {
    flex-basis: 50%;
}

.established-bets {
    flex-basis: 50%;

    .bet-card {
        display: flex;
        height: 100px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: $light-grey-color;
        border-radius: 5px;

        .bet-status {
            display: flex;
            align-items: center;
            padding: 0 15px;
            border-right: 1px solid $black-color;

            &.status-yellow { background-color: #feca57 }

            &.status-green { background-color: #1dd1a1 }
        }

        .bet-details {
            display: flex;
            flex-direction: row;
            height: 100%;
        }
    }    
} 