@import '../variables';

.bets-container {
    display: flex;
    width: 100%;
    // border: 1px solid red; //! temporary
}

h4 { text-align: center; }

.pending-bets {
    flex-basis: 50%;
}

.established-bets {
    flex-basis: 50%;

    .bet-card {
        height: 100px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: $light-grey-color;
        border-radius: 5px;


        .bet-status {
            display: inline-block;
            height: 100%;
            width: 9%;
        }

        .bet-details {
            height: 100%;
            display: inline-block;
            width: 90%;
        }
    }    
} 