@import './variables';

.App {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .router-container { width: 100%; }

  .nav-link-container {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  
    li { padding: 0 10px; }

    .nav-link {
      color: $cyan-blue-color;
      text-decoration: none;
    }
  }
}