@import '../../variables';

//* Expansion Panel Overrides
.MuiExpansionPanelSummary-content { align-items: center; }

.MuiExpansionPanel-root.Mui-expanded {
    margin: 0 15px 15px 15px !important;
}
//* Expansion Panel Overrides

.countdown {
    min-width: 99px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.bets-container {
    display: flex;
    position: relative;
    width: 100%;

    .create-bet-btn {
        position: absolute;
        right: 0;
        margin: 10px 15px 10px;

        .add-icon {
            width: 20px;
        }
    }
}

h4 {
    text-align: center;
    padding: 20px 0;
}

.bets-list-container {
    display: flex;
    flex-basis: 100%;
}

.pending-bets {
    flex-basis: 50%;
}

.established-bets {
    flex-basis: 50%;
}

.bet-card {
    display: flex;
    flex-grow: 0;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
    background-color: $light-grey-color !important;

    .bet-status {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        margin: 10px 0;
        height: 30px;
        min-width: 120px;
        border-right: 2px solid $cyan-blue-color;
    }

    .bet-details {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .bettors-and-takers {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .bettor {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

//* Create Bet Form
.create-bet-container {

    form {
        display: flex;
        flex-direction: column;
    }

    h6 { text-align: center; }

    .input-field {

        &.bet-term { width: 100px; }
    }
}